.page {
  min-width : 1100px;
  max-width : 1600px;
  margin : auto;
  font-family : "Helvetica Neue", "Arial", "sans-serif";
  font-size : 16px;
  line-height : 20px;
  }
  .header {
  height : 100vh;
  min-height : 720px;
  max-height : 800px;
  padding-top : 30px;
  padding-left : 80px;
  padding-right : 80px;
  position : relative;
  box-sizing : border-box;
  }
  .nav {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : flex-start;
  }
  .logo {
  height : 60px;
  width : 196px;
  }
  .nav__links {
  display : flex;
  margin-top : 8px;
  justify-content : space-between;
  align-items : flex-start;
  list-style : none;
  padding : 0;
  column-gap : 20px;
  }
  .nav__link {
  color : #000000;
  text-decoration : none;
  font-weight : bold;
  }
  .nav__link:hover{
    color: #1f69c9;
  }
  .header__title {
  font-size : 66px;
  line-height : 76px;
  font-weight : 500;
  margin-top : 150px;
  max-width : 544px;
  }
  .header__description {
  font-size : 20px;
  line-height : 30px;
  margin-top : 32px;
  max-width : 532px;
  }
  .header__image {
  z-index : 1;
  position : absolute;
  top : 135px;
  right : 20px;
  max-width : 636px;
  }
  .header__footer {
  position : absolute;
  left : 0;
  bottom : 40px;
  width : 100%;
  display : flex;
  align-items : center;
  padding : 40px 80px 0;
  justify-content : space-between;
  box-sizing : border-box;
  }
  .header__link {
  color : #2f80ed;
  text-decoration : none;
  }
  .header__link:hover{
    color: #1f69c9;
  }
  .header__address {
  margin : 0;
  color : #838383;
  }
  .events {
  padding : 100px 0 120px 80px;
  display : flex;
  align-items : start;
  justify-content : space-between;
  box-sizing : border-box;
  }
  .events__content {
  flex-basis : 580px;
  }
  .events__heading {
  font-size : 20px;
  font-weight : 500;
  line-height : 30px;
  margin : 0;
  }
  .events__title {
  font-size : 44px;
  font-weight : 500;
  line-height : 52px;
  margin : 32px 0;
  }
  .events__info-section {
  margin-top : 32px;
  }
  .event-info__item {
  display : flex;
  align-items : center;
  margin-bottom : 4px;
  font-weight : 500;
  }
  .event-info__icon {
  background-repeat : no-repeat;
  background-position : center;
  margin-right : 12px;
  width : 24px;
  height : 24px;
  }
  .event-info__icon_type_calendar {
  background-image : url(../images/icon_calendar.svg);
  }
  .event-info__icon_type_pin {
  background-image : url(../images/icon_pin.svg);
  }
  .event-info__text {
  font-size : 20px;
  font-weight : 500;
  line-height : 30px;
  margin : 0;
  }
  .events__description {
  margin : 40px 0 60px;
  }
  .events__more {
  margin-top : 60px;
  color : #2f80ed;
  text-decoration : none;
  }
  .events__more:hover {
    color: #1f69c9; 
  }

  .events__cover {
  flex-grow : 1;
  flex-shrink : 0;
  flex-basis : 780px;
  max-width : 780px;
  position : relative;
  }
  .events__image {
  max-width : 100%;
  }
  .person {
  position : absolute;
  align-items : center;
  display : flex;
  flex-direction : column;
  gap : 10px;
  }
  .person_name_feynman {
  position : absolute;
  left : 319px;
  top: -30px; 
  }
  .person_name_burbidge {
  position : absolute;
  top : 96px;
  right : 125px;
  }
  .person_name_cannon {
  position : absolute;
  right : 216px;
  bottom : 18px;
  }
  .person_name_mitchell {
  position : absolute;
  left : 142px;
  bottom : 82px;
  }
  .person_name_tarter {
  position : absolute;
  left : 159px;
  top: 79px; 
  }
  .person__image {
  max-width : 100%;
  }
  .person__image_size_l {
  width : 140px;
  }
  .person__image_size_m {
  width : 100px;
  }
  .person__image_size_s {
  width : 80px;
  }
  .person__caption {
  text-align : center;
  font-size : 14px;
  margin : 0;
  }
  .staff {
    padding-top: 100px;
    padding-bottom: 140px;
    background-image: url(../images/staff_picks_background.jpg);
  }
  
  .staff__title {
    text-align: center;
    font-size: 44px;
    line-height: 52px;
    margin: 0 0 24px;
    color: white;
  }
  
  .staff__subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 24px 0 0;
    color: white;
  }
  .staff__cards {
    max-width: 760px;
    margin: 68px auto 0px;
    gap: 40px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }
  .card {
    background-color: #fff;
    border-radius: 6px;
    padding: 32px 40px 20px 32px;
    box-sizing: border-box;
    width: 360px;
    height: 420px; 
  }
  
  .card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .card__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
  }
  
  .card__text {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 24px;
  }
  
  .card__footer {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #838383;
    /* Auto margins applied on a flex item automatically extend specified margin to occupy the extra space in the flex container */
    /* In our case, this pushes the element down to the bottom */
    margin-top: auto;
  }
  
  .membership {
    padding-top: 100px;
    padding-bottom: 140px;
    background-color: #f2f2f2;
  }
  
  .membership__title {
    max-width: 574px;
    margin: 0 auto;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
  }
  
  .membership__steps {
    list-style-type: none;
    padding: 0;
    margin: 100px 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-basis: auto;
  }
  
  .step {
    max-width: 220px; 
  }
  
  .step__title {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  
  .step__icon {
    margin-left: 20px;
  }
  
  .step__description {
    margin: 10px 0 0;
  }
  
  .about {
    padding: 100px 80px;
    background-color: #1f1f1f;
    color: #fff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex; 
  }
  
  .about__title {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    z-index: 1;
    max-width: 154px;
    display: flex;
    flex-direction: column; 
   
  }
  
  .about__content {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    max-width: 660px;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  
  .about__paragraph {
    margin-top: 0;
    margin-bottom: 32px;
    position: relative;
    left: 120px;
  }
  
  .about__circle {
    background-color: #2f80ed;
    width: 495px;
    height: 495px;
    border-radius: 50%;
    position: absolute;
    top: -121px;
    left: -91px; 
  }
  
  .footer {
    box-sizing: border-box;
    min-height: 224px;
    background-color: #000000;
    padding: 60px 102px 60px 80px;
    color: white;
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__columns {
    display: flex;
    flex-direction: row;
    align-items: baseline;  
  }
  
  .footer__column_content-hours {
    margin-left: auto; 
  }
  
  .footer__column_content-social {
    margin-left: 100px;
  }
  
  .footer__logo {
    height: 21px;
    width: 116px;
  }
  .footer__list {
    /* The code below removes the default browser styles for lists */
    list-style-type: none;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .footer__list-item {
    list-style-type: none;
    padding: 0;
    margin-bottom: 16px; 
  }
  
  .footer__column-heading {
    list-style-type: none;
    padding: 0;
    margin: 0 20px 0 0; 
  }
  .footer__column-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;
  }
  .footer__column-link:hover{
    color: #c1c1c1;
  }
  .footer__social-icon {
    height: 16px;
    width: 16px;  
  }
  
  .footer__copyright {
    margin: 80px 0 0 0;
  } 